body
{
    height: 100%;

    background: #101120;
    background: linear-gradient(rgba(16,17,32,1) 0%, rgba(12,17,80,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.poem
{
    width: 30%;
    font-size: 8px;
    color: white;
    position: absolute;
}

star
{
    height: 0.1px;
    width: 0.1px;
    
    background-color: white;
    border-color: white;
    border-radius: 50%;

    position: absolute;
}