@import url(https://cdn.jsdelivr.net/npm/font-kopub@1.0/kopubdotum.min.css);

html
{
    height: 100%;
    overflow: hidden;

    background: rgb(2,0,36);
    background: linear-gradient(rgba(2,0,36,1) 0%, rgba(14,81,94,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    

}
.contents
{
    
    color: white;
    position: absolute;

    font-size: 15px;
    font-family: 'KoPub Dotum';
}


@keyframes flicker {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

star
{   
    background-color: white;
    border-color: white;
    border-radius: 50%;
    /* Remove comment if you need *soft* stars */
    /* filter: drop-shadow(0px 0px 1px white); */

    position: absolute;
}