@import url(http://cdn.jsdelivr.net/npm/font-kopub@1.0/kopubdotum.min.css);

body
{
    height: 100%;

    background: rgb(2,0,36);
    background: linear-gradient(rgba(2,0,36,1) 0%, rgba(14,81,94,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.poem
{
    width: 30%;
    
    color: white;
    position: absolute;

    font-size: 12px;
    font-family: 'KoPub Dotum';
}

star
{   
    background-color: white;
    border-color: white;
    border-radius: 50%;

    position: absolute;
}